.categories {
  display: flex;
  gap: 30px;
  position: fixed;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 10px 0px;
  align-items: center;
  padding-bottom: 20px;
  z-index: 2;
}

.linkStyles {
  text-decoration: none;
  color: black;
}

