
//star colors
$color-default-unclicked-star: rgb(226, 226, 226);
$color-default-clicked-star:rgb(255, 196, 0);

//fonts
$global-font-family:'Poppins', sans-serif;

//font Size
$reviews-font-size:15px;
