@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

:root {
  --color-navLink: rgb(138, 138, 138);
  --color-completed: rgb(25, 214, 0);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  margin: auto;
  width: 90%;
}

.grid {
  margin: auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;

}

@media (max-width: 1714px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width:1132px){
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
