.task {
  width: 400p;
}

.card {
  width: 400px;
  background-color: white;
  border-radius: 40px;
  padding-left: 30px;
  padding-right: 10px;
  padding-bottom: 25px;
  margin-bottom: 20px;
  transition: 500ms ease-in-out;
}

.card__header {
  display: grid;

}


.card__header__bar {
  background-color: rgb(255, 0, 55);
  width: 30%;
  height: 8px;
  border-radius: 20px;
}

.card__title {
  font-size: 1.2rem;
}

.card__date {
  font-size: 0.7rem;
  color: var(--color-navLink);
}

.card > main {
  display: flex;
  flex-direction: column;
}
.card__userId {
  margin-top: 10px;
}

.card__status {
  font-size: 0.7rem;
  width: 80px;
  background-color: rgb(204, 204, 204);
  text-align: center;
  border-radius: 10px;
}

.done {
  background-color: var(--color-completed);
}

.incomplete {
  color: rgb(255, 0, 55);
}

.card:hover {
  transform: translateX(10px);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
