.album {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 15px;
}

.img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}



.album__img {
  width: 100%;
}

.album__title {
  margin-top: 15px;
color: var(--color-title);
  z-index: 2;
}
