:root {
  --color-font: rgb(53, 53, 53);
  --color-primary: rgb(252, 59, 59);
}

*,
*::before,
*::after {
  margin: 0;
  font-family: Helvetica;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin: 10px 50px;
  position: sticky;
  top: 0;
  background-color: white;
}
.navigation__left {
  display: flex;
}

.items {
  display: flex;
}
.items > li {
  display: flex;
  padding: 0px 20px;
  align-items: center;
}
.items > li > a {
  color: var(--color-font);
  text-decoration: none;
  font-size: 0.9rem;
}

.logo {
  margin-right: 20px;
  object-fit: contain;
  height: 60px;
}

.navigation__search {
  margin: auto;
}
.navigation__search > input {
  border: none;
  outline: none;
  background-color: rgb(235, 235, 235);
  padding: 10px;
  border-radius: 30px;
  width: 150px;
}
.live {
  color: rgb(252, 59, 59);
}

.content {
  margin: auto;
  width: 80%;
}

h1 {
  margin: 80px 0px;
  font-size: 4rem;
  color: var(--color-font);
}

p {
  color: rgb(105, 103, 103);
}

.grid {
  display: grid;
  margin: 80px;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.grid > article {
  border: none;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.grid > article > img {
  width: 100%;
  min-width: 220px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.card__info {
  margin: 15px;
}
.card__info > h2 {
  color: var(--color-font);
  margin-bottom: 10px;
}

button {
  margin-top: 20px;
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  transition: 200ms;
}
button:hover {
  background-color: rgb(140, 231, 208);
}

.footer {
  width: 100%;
  background-color: var(--color-font);
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  height: 180px;
  align-items: center;
  position: relative;
  color: white;
  font-size: 0.7rem;
}
.message {
  color: white;
}
.footer__center > ul > li {
  list-style-type: none;
}

@media (max-width: 788px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer {
    flex-direction: column;
  }
}
