.content__header {
    display: flex;
    justify-content: center;
    height: 210px;
    width: 100%;
    position: relative;
    margin-top: 80px;
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    z-index: -1;
  }
  .content__header > img {
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
  }
  
  .avatar {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
  }
  .avatar > img {
    height: 150px;
    border-radius: 100%;
    border: 6px solid rgb(255, 255, 255);
    border-image-slice: 1;
  }
  .header__info {
    position: absolute;
    text-align: center;
    top: 50%;
    color: white;
  }

  .header__info .largerText {
    font-size: 3rem;
    font-weight: bolder;
  }
  .lighterText {
    font-weight: lighter;
  }

  