.navigation {
  display: flex;
  justify-content: space-between;
  padding: 0px 60px;
  height: 80px;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  background-color: rgb(245, 245, 245);
}

.navigation__logo {
  display: flex;
  align-items: center;
  flex: 1;
}

.logo {
  width: 50px;
  border-radius: 9px;
  z-index: 2;
}
.shadow {
  width: 50px;
  position: absolute;
  border-radius: 9px;
  margin-top: 9px;
  filter: blur(9px);
}

.navigation__input {
  display: flex;
  align-items: center;
  margin-left: 40px;
  width: 100%;
}

.navigation__menu {
  display: flex;
  list-style-type: none;
  height: 100%;
  float: right;
  align-items: center;
}

.navigation__item {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  align-items: center;
  width: 70px;
  padding: 10px 0px;
  border-radius: 10px;
  cursor: pointer;
  transition: 300ms ease-in-out;
}

.navigation__item:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.navigation__search {
  display: flex;
  align-items: center;
  width: 100%;
}

.search {
  outline: none;
  border: none;
  padding: 15px;
  width: 30%;
  border-radius: 40px;
  background-color: white;
  transition: 900ms;
}

.search:focus {
  width: 70%;
}

.ubereats {
  width: 130px;
}

.item {
  color: var(--color-graytext);
}

.eats {
  color: #f54262;
  font-weight: lighter;
}

.uber {
  font-weight: bolder;
}

.notification {
  width: 20px;
  height: 20px;
  background-color: red;
  color: white;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  position: absolute;
  font-size: 0.7rem;
  margin-left: 30px;
  margin-top: -10px;
}

.numberItems{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
