.cuisine {
  color: var(--color-graytext);
  width: 100px;
  height: 140px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 8px;
  cursor: pointer;
}

.cuisine__img {
  width: 100%;
  border-radius: 12px;
  border: 1px solid rgb(231, 231, 231);
}

.cuisine__title {
  padding-top: 15px;
}
